* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #F3F3F3;
    font-family: sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    padding:20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .logo {
    color: #000;
}
.container .logo_img{
    width: 100px;
}
.container .login {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.container .login input {
    text-align: center;
    width: 150px;
    padding:20px;
    border-radius: 30px;
    border: 1px solid #fff;
    outline: none;
    font-size: 18px;
}
.container .login img {
    width: 80px;
}
main {
    padding: 30px 300px;
}
.main_top-section{ 
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_top-section .crt_balance h2 {
    font-size: 30px;
    margin-bottom: 7px;
}
.main_top-section .crt_balance p {
    font-size: 20px;
    color: #555;
}
.main_top-section .balance {
    font-size: 60px;
    color: #000;
}
.main_center-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 30px;
}
.left_part {
    width: 50%;
    border-radius: 10px;
    background-color: #fff;
}
.right_part {
    width: 50%;
}
.part {
    padding: 30px;
    border-bottom: 1px solid #999;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.part_inf {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.part_inf .dep {
    background-color: green;
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
}
.part_inf {
    color: #555;
    font-size: 18px;
}
.part .part_bln {
    font-size: 24px;
}
.box {
    padding: 30px;
    border-radius: 20px;   
    margin-bottom: 20px;
}
.box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.box form input {
    width: 150px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    margin-bottom: 10px;
}
.box form p {
    text-align: center;
}
.box form button {
    background-color: #fff;
    padding:0 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}
.box form img {
    width: 20px;
}
.first_form {
    background-color: orange;
}
.first_form form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.first_form input {
    background-color: #FED981;
}
.second_form {
    background-color: #60C478;
}
.second_form form {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
}
.second_form input {
    background-color: #B0E3A8;
}
.third_form {
    background-color: #F2405C;
}
.third_form form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.third_form input {
    background-color: #F9939E;
}