* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #F3F3F3;
    font-family: sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
.nav {
    padding:20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .nav_title {
    color: #000;
}
.nav .logo_img{
    width: 100px;
}
.nav .login {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.nav .login input {
    text-align: center;
    width: 150px;
    padding:20px;
    border-radius: 30px;
    border: 1px solid #fff;
    outline: none;
    font-size: 18px;
}
.nav .login .login__btn{
    padding:8px 20px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    cursor: pointer;
}
main {
    padding: 30px 200px;
    transition: 1s linear;
}
.balance_section{ 
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.balance_section h2 {
    font-size: 30px;
    margin-bottom: 7px;
}
.balance_section p {
    font-size: 20px;
    color: #555;
}
.balance_section .balance__value {
    font-size: 60px;
    color: #000;
}
.movements_section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 30px;
}
.movement_part {
    width: 40%;
}
.box {
    padding: 30px;
    border-radius: 20px;   
    margin-bottom: 20px;
}
.box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.box .form .form__inp {
    width: 150px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    margin-bottom: 10px;
}
.box .form .form__label {
    text-align: center;
}
.box .form .form__btn{
    background-color: #fff;
    padding:0 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}
.box .form img {
    width: 20px;
}
.transfer_form {
    background-color: orange;
}
.transfer_form .form--transfer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.transfer_form .form__inp {
    background-color: #FED981;
}
.loan_form {
    background-color: #60C478;
}
.loan_form .form--loan {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
}
.loan_form .form__inp {
    background-color: #B0E3A8;
}
.close_form {
    background-color: #F2405C;
}   
.close_form .form--close {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.close_form .form__inp {
    background-color: #F9939E;
}
.notes_part {
    width: 60%;
    border-radius: 10px;
    background-color: #fff;
    overflow: scroll;
    height: 600px;
}

.notes_row {
    padding: 30px;
    border-bottom: 1px solid #999;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.notes {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.notes .notes__type {
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
}
.notes .notes__type--deposit {
    background-color: green;
}
.notes .notes__type--withdrawal {
    background-color: red;
}
.notes {
    color: #555;
    font-size: 18px;
}
.notes_row .notes__value {
    font-size: 24px;
}
/* summary sec */
.summary_section {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.summary {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.summary_label {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.summary_value {
    font-size: 24px;
    margin-right: 20px;
}
.summary_value--in,.summary_value--interest {
    color: #66c873;
}
.summary_value--out {
    color:#f5465d;
}
.sort_btn {
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-left: 80px;
    cursor: pointer;
}
.logout_timer {
    font-size: 20px;
}
.timer {
    font-weight: 600;
}
.hidden {
    opacity: 0;
    transition: 1s ease;
}